@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	font-family: serif;
}

:root {
	--header-h: 70px;
}

html {
	touch-action: manipulation;
	scroll-padding-top: calc(var(--header-h) + 12px);
	scroll-behavior: smooth;
}

header {
	position: fixed;
	display: flex;
	background-color: darkgreen;
	height: 50px;
	width: 100vw;
	top: 0;
	z-index: 1;
}

header h1 {
	color: white;
	display: inline-block;
	margin: auto;
}

header h1 a {
	color: white;
	text-decoration: none;
}

.top-object {
	margin-top: 70px;

	a {
		white-space: nowrap;
	}
}

li {
	margin: 10px;
	margin-left: 50px;
	font-size: 16pt;
}

h3 {
	margin: 10px;
	margin-top: 20px;
}

h4{
	margin-left: 15px;
}

p {
	margin-left: 15px;
}

#nav {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

button {
	font-size: 16px;
	padding: 6px 12px;
}

#image-container img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
